/* multifields */
.multifields { position: relative; z-index: 1; display: flex; align-items: flex-start; flex-wrap: wrap; margin-left: -200px; background-color: #f9f9f9 }
.multifields label { margin: 0; cursor: default }
.multifields select, .multifields select[size="1"]:not(.unstyled) { width: 100% }
.multifields .row { display: flex; flex-wrap: wrap; margin: 0 -.25rem }
.multifields > .row { margin: 0 }
.multifields .col-1, .multifields .col-2, .multifields .col-3, .multifields .col-4, .multifields .col-5, .multifields .col-6, .multifields .col-7, .multifields .col-8, .multifields .col-9, .multifields .col-10, .multifields .col-11, .multifields .col-12, .multifields .col, .multifields .col-auto { position: relative; width: 100%; min-height: 0; padding-left: .25rem; padding-right: .25rem }
.multifields .col { flex-basis: 0; flex-grow: 1; max-width: 100%; }
.multifields .col-auto { -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none; }
.multifields .col-1 { -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; }
.multifields .col-2 { -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%; }
.multifields .col-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
.multifields .col-4 { -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; }
.multifields .col-5 { -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%; }
.multifields .col-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
.multifields .col-7 { -ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%; }
.multifields .col-8 { -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; }
.multifields .col-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
.multifields .col-10 { -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; }
.multifields .col-11 { -ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%; }
.multifields .col-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
.multifields .mf-row { position: relative; align-content: flex-start; margin: 0 0 .5rem; padding: .5rem .25rem 0 }
.multifields > .mf-row { padding: .5rem .5rem 0 }
.multifields .mf-row-move { padding: .5rem .5rem 0 1.25rem; border-right-width: 1rem }
.multifields .mf-row.mf-row-add, .multifields .mf-row.mf-row-del { padding-right: 1.75rem }
.multifields .mf-row.mf-row-add.mf-row-del { padding-right: 3.25rem }
.multifields .mf-row.mf-group { padding: .5rem .5rem 0 !important }
.multifields .mf-row.mf-group > .mf-toolbar > .mf-group-title, .multifields .mf-row.mf-group > .mf-toolbar > .mf-select { padding-top: 0; padding-bottom: 0 }
.multifields .mf-row.col { display: flex; flex-wrap: wrap }
.multifields .mf-row.no-actions { padding-right: .25rem }
.multifields .mf-col { padding: .5rem }
.multifields .mf-item { display: flex; flex-wrap: wrap; margin: 0; padding: 0 .25rem .5rem }
.multifields .mf-item.mf-group { align-content: flex-start; align-items: flex-start; min-height: 2.5rem; margin-bottom: .5rem; padding: .5rem .5rem 0 }
.multifields .mf-item.mf-group.mf-row-move { padding: .5rem .5rem 0; }
.multifields .mf-item.mf-group::after, .multifields .mf-row::after { position: absolute; z-index: -1; display: block; content: ""; left: 0; top: 0; right: 0; bottom: 0; border: 1px solid #d4d4d4 }
.multifields .mf-item input[type="text"], .multifields .mf-item input[type="number"] { flex-basis: 0; flex-grow: 1; width: 100%; max-width: 100%; }
.multifields .mf-item input, .multifields .mf-item button, .multifields .mf-item select { flex: 0 0 auto; width: auto; max-width: none; margin: auto !important }
.multifields .mf-select { margin-left: -1px; padding: .25rem 0 }
.multifields .mf-row-move.active { z-index: 99; opacity: .75; }
.multifields input[type="text"] + input[type="button"] { margin-left: -1px !important }
.multifields input:focus { z-index: 9 !important }
.multifields .form-control-richtext { overflow: hidden; height: 2rem; min-height: 2rem; resize: vertical }
.multifields .input-group { border-collapse: collapse }
.multifields .input-group-btn { height: 1px }
.multifields .input-group-btn .btn { height: 100% }
/* thumb */
.multifields .mf-thumb { position: relative; z-index: 1; overflow: hidden; min-width: 6rem; padding: 0 !important; justify-content: flex-end; align-items: flex-start; font: normal normal normal 14px/1 FontAwesome; text-align: center; border-right: .5rem solid transparent !important; background: 50% 50% no-repeat; background-size: contain; cursor: pointer }
.multifields .mf-thumb::before { display: block; content: ""; padding-top: 100%; width: 100%; border: 1px solid #d4d4d4 }
.multifields .mf-thumb:hover::before { border-color: #ababab }
.multifields .mf-thumb::after { position: absolute; display: block; content: "\f055"; left: 50%; top: 50%; width: 3rem; height: 3rem; margin: -1.5rem 0 0 -1.5rem; border: none; font-size: 3rem; line-height: 3rem; opacity: .1 }
.multifields .mf-thumb[data-type="image"][style^="background-image"]::after { display: none }
.multifields .mf-thumb:hover::after { opacity: .2 }
.multifields .mf-thumb[data-type="file"][style^="background-image"]::after { content: "\f15b"; opacity: .5 }
.multifields .mf-thumb .mf-move { position: absolute; align-self: flex-start; left: 0; bottom: auto; cursor: move; }
.multifields .mf-thumb .mf-move::before { content: "\f047" }
.multifields .mf-thumb .mf-add, .multifields .mf-thumb .mf-del { margin-top: -100% }
.multifields .mf-thumb .mf-row, .multifields .mf-thumb .mf-group-title, .multifields .mf-thumb .mf-select, .multifields.table i, .multifields.table .mf-actions { display: none }
.multifields.table { margin: .75rem 0 0 }
.multifields.table .mf-row { padding: .5rem .25rem 0 !important; border-width: 1px; }
#actions.multifields.actions { position: absolute !important; top: 0; right: 0 }
/* selected */
.multifields .mf-row.placeholder.active::after, .multifields .mf-row-move.active::after, .multifields .mf-thumb.active::before { border-color: #ffc107; background-color: #fff8e1 }
.multifields .placeholder { visibility: visible !important; background-image: none !important }
.multifields .mf-thumb.placeholder::after { display: none }
.multifields .mf-row.mf-selected::after, .multifields .mf-item.mf-group.mf-selected::after { border-color: rgba(0, 0, 0, 0.25) }
/* toolbar */
.multifields .mf-toolbar { position: static; align-items: center; align-self: flex-start; min-height: 2.5rem; margin: -.5rem 0 .5rem; padding: 0 0 0 1rem }
.multifields .mf-toolbar::after { position: absolute; z-index: -1; display: block; content: ""; left: 0; top: 0; right: 0; height: 2.5rem; border: 1px solid #d4d4d4; background-color: #ecf0f1;}
.multifields > .mf-toolbar { flex-basis: 0; flex-grow: 1; max-width: 100%; margin: 0 0 .5rem; padding: 0 .5rem; }
.multifields .mf-toolbar .mf-select, .multifields .mf-toolbar .mf-del, .multifields .mf-toolbar .mf-add { margin-left: auto }
.multifields .mf-toolbar .mf-group-title ~ .mf-del, .multifields .mf-toolbar .mf-select ~ .mf-del, .multifields .mf-toolbar .mf-select ~ .mf-add, .multifields .mf-toolbar .mf-del + .mf-add { margin-left: .25rem }
.multifields .mf-item.mf-group > .mf-toolbar { }
.multifields .mf-select { margin: 0 0 0 auto; min-width: 12rem }
.multifields .mf-select select { width: 100% }
.multifields .mf-group-title { padding: 0; margin-right: -1px }
.multifields > .mf-toolbar .mf-group-title { padding: 0 .5rem }
/* actions buttons */
.multifields .mf-actions { position: absolute; z-index: 0; display: flex; left: 0; top: 0; right: .5rem; bottom: .5rem; flex-wrap: wrap; justify-content: flex-end }
.multifields > .mf-actions { position: relative; width: 2.75rem; padding: .25rem .25rem 0 0 }
.multifields .mf-actions i, .multifields .mf-toolbar i, .multifields .mf-thumb > i { float: right; clear: both; width: 1.25rem; font-size: 1rem; opacity: .7; cursor: pointer; }
.multifields .mf-actions i { margin-top: auto; margin-bottom: auto; margin-left: .25rem }
.multifields .mf-actions i:hover, .multifields .mf-toolbar i:hover, .multifields .mf-thumb > i:hover { opacity: 1 }
.multifields .mf-actions .mf-move { position: absolute; display: flex; left: 0; top: 0; bottom: -.5rem; width: 1rem; align-items: center; justify-content: center; margin: 0; background-color: rgba(0, 0, 0, 0.05); cursor: n-resize }
.multifields .mf-selected > .mf-actions .mf-move { display: block }
.multifields .mf-toolbar .mf-move { position: absolute; left: 0; top: 0; margin: 0; padding: .7rem 0; width: 1rem; height: 2.5rem; background-color: rgba(0, 0, 0, 0.05); cursor: n-resize; }
.multifields .mf-row-move.active > .mf-actions .mf-move { background-color: #ffc107 }
.ghost { opacity: .4;}
/* lightness */
.light .multifields, .lightness .multifields { background-color: #fff }
/* darkness */
.darkness .multifields { background-color: #282c34 }
.darkness .multifields .mf-item.mf-group::after, .darkness .multifields .mf-row::after, .darkness .multifields .mf-row.mf-selected::after, .darkness .multifields .mf-item.mf-group.mf-selected::after, .darkness .multifields .mf-thumb::before { border-color: #414449 }
.darkness .multifields .placeholder.active::after, .darkness .multifields .mf-row-move.active::after, .multifields .mf-row.placeholder.active::after, .darkness .multifields .mf-row-move.active::after, .darkness .multifields .mf-thumb.active::before { border-color: rgba(255, 193, 7, 0.31); background-color: #282c34 }
.darkness .multifields .mf-row-move.active > .mf-actions .mf-move, .darkness .multifields .mf-row-move.active::after, .darkness .multifields .mf-thumb.active::before { background-color: rgba(255, 193, 7, 0.3) }
.darkness .multifields .mf-toolbar::after { border-color: #414449; background-color: #282c34; }
.darkness .multifields .mf-actions .mf-move, .darkness .multifields .mf-toolbar .mf-move { background-color: #414449 }
.darkness .multifields .mf-thumb:hover::before { border-color: #686b6f; }
.darkness .evo-popup.alert { background-color: #282c34; }